// í™ˆ css //

.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  .maincontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .loginbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 100vh;
      transform: translateX(700px);
      background-color: #2a2a2a;
      z-index: 1;
      box-shadow: 0 0 30px #ffffff;

      img {
        width: 500px;
        height: auto;
        margin-bottom: 30px;
      }

      .loginForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;

        input {
          border: none;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 0 3px #000000;
          transition: 0.5s;
        }
        input:focus {
          outline: none;
          box-shadow: 0 0 5px #000000;
        }

        button {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 5px;
          background-color: #415a77;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
